.blocks {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 5px red;
}

.button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px yellow;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 5px red;
  }
}
